@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow-y: overlay;
}


.container {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    color: rgb(249, 180, 171);
}

.error {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.error img {
    margin-bottom: 50px;
}

.error h2, p {
    color: #4b2c0b;
    margin: 0;
}

.error h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.error p {
    font-size: 20px;
    margin-bottom: 30px;
}

.error button {
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 40px;
    font-size: 14px;
    color: #4b2c0b;
    background-color: #eee3d3;
    padding: 0 18px;
    font-weight: 600;
}

.error button:hover {
    color: #e3d9cb;
    background-color: #4b2c0b;
}


/* movies */
.movies-container {
    display: flex;
    align-items: start;
    gap: 2rem;
}

.menu {
    display: flex;
    background-color: #FAF9FA;
    justify-content: space-between;
    padding: 0 100px;
}

.menu a {
    text-decoration: none;
    color: #b7b6b7;
    display: block;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
}

.menu a:hover {
    color: rgba(255, 153, 153, 0.67);
}

.menu a.active {
    color: #f3a9a9;
}

/* movie list */
.movie-list {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;

}

.movie-list a {
    display: block;
    padding: 10px 0;
    text-align: left;
    color: #B7B6B7FF;
    text-decoration: none;
    font-weight: 600;
}

.movie-list a:hover {
    color: #bbd4ce;
}

.movie-list a.active {
    color: #679186;
}

.movie-wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.movie-bio {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie img {
    width: 250px
}

.movie h2 {
    color: #565656;
}
